@media only screen and (min-width: 1101px){
  .main-nav .user-login {
    visibility: hidden;
  }
}
@media only screen and (max-width: 1100px){
  .title .name {font-size: 80%;}
  .title .date,
  .title .proj-title {font-size: 60%;}
  .student-uploads {width: 100%;}
}
@media only screen and (max-width: 768px){
  .main-nav #nav-list {
    visibility: hidden;
    background: rgb(100,1,6);
    z-index: 9999;
    position: absolute;
    top: 40;
    right: 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 8px 20px #000;
    height: 115px;
    justify-content: flex-start;
  }
  .mobile-nav {display: block;}
  #login-dropdown {
    visibility: hidden;
    position: absolute;
    z-index: 99999;
    top: 10;
    right: 50;
  }
  #login-form {
    flex-direction: column;
    top: 155;
    right: 0;
    height: auto;
    align-items: center;
  }
  .user-info {
    right: 45;
  }
  #student-data-upload {
    top: 60;
    left: 80%;
    padding: 5px;
    font-size: 12px;
  }
  body {
    background-size: 80% auto;
  }
}
